body {
    background-color: black;
    position: absolute;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    height: auto;
}

*button {
    margin: 5px;
}
