<body>
    <div>
        <mat-card style=
                    "background-color: rgb(39, 33, 92);
                    height: 115px;
                    width: auto;
                    margin: 15px;
                    ">
            <div style=
                    "display: flex;
                    flex-direction: column;
                    justify-content: left;
                    "
            >        
                <mat-card-header style="color: rgb(179, 179, 179);">
                    <mat-card-title>
                        <h1><b>MyFlix Movies</b></h1>
                    </mat-card-title>
                    <mat-card-subtitle style="color: rgb(179, 179, 179);">
                        <h4>An app for movie lovers</h4>
                    </mat-card-subtitle>
                </mat-card-header>
            </div>    
            <div style=
                    "display: flex;
                    justify-content: right;
                    ">
                <mat-card-actions>
                    <button
                        mat-raised-button
                        color="accent"
                        (click)="openUserProfileDialog()"
                    >
                        Profile
                    </button>                
                </mat-card-actions>
            </div>
        </mat-card>
    </div>    
    <div style=
            "display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 85%;
            margin-left: auto;
            margin-right: auto;"
    >
    <mat-card *ngFor="let movie of movies;" style=
                                                "flex: 1 1 auto; 
                                                width: 280px;
                                                margin: 10px 20px; 
                                                background-color:rgb(102, 70, 161)"
    >
        <mat-card-header>
            <mat-card-title>
                {{movie.Title}}
            </mat-card-title>
            <mat-card-subtitle>
                Directed by: {{movie.Director.Name}} <br>
                Genre: {{movie.Genre.Name}}
            </mat-card-subtitle>
        </mat-card-header>
        <div style=
                "display: flex; 
                justify-content: center; 
                align-items: center;"
        >
            <img src={{movie.ImagePath}} alt={{movie.Title}} />
        </div>    
        <mat-card-actions style=
                            "display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            "
        >
            <button
                mat-raised-button
                color="accent"
                (click)="openGenreCard(
                            movie.Genre.Name,
                            movie.Genre.Description
                )"
            >
                Genre
            </button>
            <button
                mat-raised-button
                color="accent"
                (click)="openDirectorCard(
                            movie.Director.Name,
                            movie.Director.Bio,
                            movie.Director.Birth,
                            movie.Director.Death
                        )"
            >
                Director
            </button>        
            <button
                mat-raised-button
                color="accent"
                (click)="openSynopsisCard(
                            movie.Title,
                            movie.ImagePath,
                            movie.Description
                        )"                                   
            >
                Synopsis    
            </button>
            <button
                mat-raised-button
                color="accent"
                (click)="addFavoriteMovie(movie._id, movie.Title)"
            >
                Add to Favorites
            </button>                  
        </mat-card-actions>
    </mat-card>    
    </div>
</body>